/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
a{
	text-decoration: none;
	color: inherit;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	margin: 100px 0px 130px 0px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
/* zone de modification */
.titre_projet{
	position: relative;
	text-align: center;
}
.div_modification {
	color: black;
	font-size: 14px;
	display:flex;
	position: absolute;
	top: 10px;
	left: 60%;
	gap: 10px;
	border: none;
	background-color: inherit;
	font-family: Work Sans;
}
.div_modification:hover {
	opacity: 0.5;
	cursor: pointer;
}
.hidden {
    display: none;
}

/* modal */ 
.modal{
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items:center;
	width: 630px;
	height: 688px;
	border-radius: 10px;
	background-color: white;
	position: relative;
}
.modal h2{
	margin-top: 40px;
	font-family: Work Sans;
	font-weight: 400;
	font-size: 26px;
	line-height: 100%;
	letter-spacing: 0%;
	color: black;
}
.modal_content{
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}
.ajout_galerie img{
	width: 76px;
	height: 102px;
	margin: 15px 5px ;
}
.ajout_galerie{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	padding: 0px 0px 40px 0px;
}
.ajout_galerie figure{
	position: relative;
}
.icone_supprimer{
	position: absolute;
	top: 20px;
	right: 10px;
	background-color: black;
	color: white;
	padding: 4px;
	border-radius: 2px;
	font-size: 10px;
	cursor: pointer;
	border: none;
}
.icone_supprimer:hover{
	opacity: 0.5;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* zone filtres */
.zoneBtn{
	display: flex;
	justify-content: center;
	gap: 20px;
	margin: 40px;
}

.btnCategorie{
	background-color: white;
	border: 1px solid #1D6154;
	color: #1D6154;
	border-radius: 60px;
	font-weight: 700;
	font-size: 16px;
	padding: 10px 20px;
}
.btnCategorie:hover{
	background-color: #1D6154;
	border: 1px solid #1D6154;
	color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* zone_connexion */
.zone_connexion h2{
	font-size: 36px;
}
.zone_connexion{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	height: 80vh;
}
.zone_connexion form{
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	padding: 20px;
}
.zone_connexion form #email,
.zone_connexion form #password{
	width: 379px;
	height: 51px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
}
.zone_connexion a{
	color:#3D3D3D ;
	font-weight: 500;
	text-decoration: underline;
}
#user_open{
	cursor: pointer;
}


/* modale ajout photo projet */
.ajout_projet{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btnp,
.btnpLine{
	display: flex;
	justify-content:center;
	border-top: 1px solid #B3B3B3;
	width:420px; 
	padding: 25px 0px 30px 0px;
}
.ajout_projet form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ajout_projet .formulaire_photo{
	margin-bottom: 50px;
}
.ajout_projet form #title,
.ajout_projet form #category{
	margin: 10px auto;
	display:flex;
	justify-content: center;
	width:420px ;
	height: 51px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border:none;
}
.custom-file-upload input[type="file"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	z-index: -1;
}
.custom-file-upload {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
	height: 169px;
	background-color: #E8F1F6;
	margin-bottom: 10px;
}
  #preview{
	height: 100%;
	width: 30%;
	margin: 0px;
}
  .custom-file-upload .btn-text {
	background-color: #CBD6DC;
	border: 1px solid #E8F1F6;
	border-radius: 50px;
	padding: 10px 20px;
	font-family: Work Sans;
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 0.25em;
}
.picture_file{
	color: #CBD6DC;
	font-size: 50px;
}
.custom-file-upload .btn-text:hover {
	background-color: #E8F1F6;
	border: 1px solid #CBD6DC;
}
.custom-file-upload:focus-within .btn-text {
	border: 1px solid black;
}
.file-info {
	font-size: 0.85em;
	color: #555;
}
  
  /* Total BTN */
.btn_close{
	position: absolute;
	top: 30px;
	right: 30px;
	border: none;
	background-color: inherit;
	cursor: pointer;
}
.btn-retour-modal{
	position: absolute;
	top: 30px;
	left: 30px;
	border: none;
	background-color: inherit;
	cursor: pointer;
	font-size: 21px;
}
.btn_close:hover,
.btn-retour-modal:hover{
	opacity: 0.5;
}
.btnValiderAjout{
	background-color: #A7A7A7 !important;
}
.active{
	background-color: #1D6154 !important;
	border: 1px solid white;
	z-index: 1;
}
.btnConnexion,
.btnContact{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	height: 51px;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid white;
}
.btnValiderAjout,
.btn_ajout{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 237px;
	height: 36px;
	text-align: center;
	border-radius: 60px ;
	border: 1px solid white;
}
.active:hover,
.btnConnexion:hover,
.btn_ajout:hover,
.btnContact:hover{
	background-color: white !important;
	border: 1px solid #1D6154 !important;
	color: #1D6154;
	cursor: pointer;
}
.click{
	font-weight:600;
}
.clickBtn{
	background-color: #1D6154;
	color: white;
	border: 1px solid white;
}

/* mode edition */
.mode_edition{
position: absolute;
left: 0;
top: 0;
height: 59px;
width: 100%;
background-color: black;
color: white;
display:flex;
justify-content: center;
align-items: center;
gap: 10px;
}